*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: arial;
    color: black;
}


.container-text{
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
 
.container {
	max-width: 800px;
	margin: 0 auto;
}

.teal {
    padding:10px;
    background:teal;
    color:white;
}